<div class="container-authentication">
  <div class="card-logo">
    <h1>WISE</h1>
  </div>
  <div class="authentication-form">
    <div class="title">
      <h1>Login</h1>
    </div>
    <form method="get">
      <div class="authentication-inputs">
        <label for="email">E-mail</label>
        <input [(ngModel)]="model.email" type="email" id="email" name="email" placeholder="usuario@email.com" required>
        <label for="email">Senha</label>
        <input [(ngModel)]="model.password" type="password" id="password" name="password" placeholder="•••••••" required>
        <small class="btn text-link" [routerLink]="['/authentication/recovery']">Esqueci minha senha</small>
      </div>
    </form>
    <div class="footer">
      <button class="btn btn-main" (click)="login()">Entrar</button>
      <small class="btn text-link" [routerLink]="['/authentication/register']">Criar uma conta</small>
    </div>
  </div>
</div>
