@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:wght@300;400;700&display=swap');

// Colors

$white: #FFFFFF;
$silver: #CCCCCC;
$timberwolf: #D3D3D3;
$apple-gray: #f4f4f4;
$indigo_blue: #16425B;
$black: #000000;

// Fonts

$regular: 400;
$light: 300;
$bold: 700;

$jetbrains: "JetBrains Mono", sans-serif;
$roboto: "Roboto", sans-serif;
